.sideBar {
  width: 300px;
  /* background-color: #348f6c; */
  border-radius: 5px;
  color: #e2c992 !important;
}
.sideBar > h2 {
  margin-bottom: 30px;
  color: #e2c992;
  margin: 10px;
}
ul {
}
ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 15px 0px;
}
ul > li > .MuiSvgIcon-root {
  margin: 0px 10px;
}
ul > li > span {
  flex: 1;
  border-top-left-radius: 10px;
}
ul > li > span > button {
  color: white !important;
}
.pushActive {
  background-color: white !important;
}
.pushActive > button {
  color: black !important;
}
.sideBar > ul > li > button {
  color: white;
}
@media only screen and (max-width: 768px) {
  .sideBar {
    width: 200px;
  }
}
@media only screen and (max-width: 600px) {
  .sideBar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #30343f;
    border-radius: 0px;
  }
  .sideBar > h2 {
    display: none;
  }
  .sideBar > ul {
    display: flex;
  }
}
