.order {
  flex: 1;
  background-color: white;
  padding: 10px 20px;
}
.orderTable {
  width: 100%;
}
.orderTable__top {
  display: grid;
  grid-template-columns: auto 60% auto auto auto;
  overflow-x: auto;
  border: 1px solid lightgray;
  place-items: center;
  padding: 10px 10px;
  margin-top: 30px;
  background-color: #f9f9f9;
}
@media only screen and (max-width: 768px) {
  .table > thead {
    display: none;
  }
  .table > tr {
    margin-bottom: 10px;
  }
  .table > tr,
  .table > tr > td {
    display: block;
    width: 100%;
  }
  .table > tr > td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
  .table > tr > td::before {
    content: attr(data-label);
    position: absolute;
    left: 0px;
  }
}
